<nav class="navbar navbar-toggleable-xl navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" routerLink="home">
    <img src="../../assets/logo-site.svg" height="60" alt="" class="bbrand">
  </a>
  <a class="navbar-brand store" href="http://glutenfreemebakeryonline.com/" target="_blank">Buy<br/>Online!</a>
  <div class="collapse navbar-collapse" id="menu_text">
    <ul class="navbar-nav custom">
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="bakery">Bakery</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="cafe">Cafe</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="contact">Contacts</a>
      </li>
    </ul>
  </div>
</nav>
