:host {
  display: block;
  border: 2px solid darkgrey;
  border-radius: 7px;
  box-shadow: 2px 4px 5px rgba(0,0,0,.3);
  background-color: rgba(0,0,0,.4);
}
#pd-1 {
  display: block;
}
#pd-2 {
  display: none;
}
#product-shell {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-between;
  height: auto;
  //ovenrflow: auto;
}
.product-body {
  flex: 0 1 auto;
  //margin: 0 20px;
  max-width: 410px;
  color: #C5C5C5;
  background-color: rgba(0,0,0,.4);
  .tostore {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  h3,h2 {
    font-family: 'Playfair Display', serif;
    padding-top: 8px;
    color: lightgoldenrodyellow;
    display: inline-block;
    border-bottom: 2px solid goldenrod;
  }
  .ingredient-name {
    color: goldenrod;

  }
  .ingredients {
    color: lightgoldenrodyellow;
    font-size: 1em;
  }
  .info {
    color: whitesmoke;
    font-size: 1em;
  }

}
.product-image {
  flex: 1 0 auto;
  margin-right: 5px;
  img {
    height: auto;
    max-width: 100%;
    //width: 100%;
  }
  #modal-button {
    display: none;
  }
}
@media only screen and (max-width: 1280px) {
  .product-body {
    font-size: 0.89em;
  }
  .product-image {
    width: 30%;
    img {
      width: auto;
      height: auto;
      z-index: -1;
    }
  }
}
@media only screen and (max-width : 465px) {
  :host {
    display: block;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    border: 2px solid darkgrey;
    border-radius: 7px;
    box-shadow: 2px 4px 5px rgba(0,0,0,.3);
    background-color: rgba(0,0,0,.4);
    //height: 100vh;
    position: fixed;
  }

  #pd-1 {
    display: none;
  }
  #pd-2 {
    display: block;
  }
  #product-detail {
    //width: 300px;
    //background-color: red;

  }
  #product-shell {
    display: block;
  }
  .product-image {
    width: 100%;
    img {
      height: 100%;
      width:auto;
      z-index: 99;
    }
    #modal-button {
      display: block;
      position: absolute;
      top: 100px;
      left: 0;
      z-index: 9999;
    }
  }
  .product-body {
    font-size: 0.8em;
    //background-color: yellow;
    margin: 0;
    color: white;
    line-height: 100%;
    h3.card-title.text-center {
      margin: 0 auto;
      padding-bottom: 0;
      font-size: 1rem;
      text-decoration: none;
      border-bottom: none;
      display: block;
    }
    .ingredient-name, .ingredients, .info {
      display:none;
    }
    .tostore {
      margin-top: 0;
      padding-top: 0;
    }
  }

}

@media only screen and (max-width : 765px) {
  :host {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid darkgrey;
    border-radius: 7px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, .3);
    background-color: rgba(0, 0, 0, .4);
    //height: 100vh;
    position: fixed;
  }
  .product-image {
    margin-top: 90px;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    img {
      height: 100%;
      width: auto;
      z-index: 99;
      margin-left: 10%;
    }
    #modal-button {
      display: block;
      position: absolute;
      top: 100px;
      left: 0;
      z-index: 9999;
    }
  }
}
