<div id="product-detail">
  <div id="product-shell">
    <div class="product-image" id="pd-1">
      <button class="btn btn-danger" id="modal-button" (click)="onModalClose()">Close</button>
      <img class="embed-responsive" src="../../assets/products/{{item.img}}" alt="Card image cap" alt="Glutenfree Products">
    </div>
    <div class="product-image" id="pd-2" (click)="onModalClose()">
      <button class="btn btn-danger" id="modal-button" (click)="onModalClose()">Close</button>
      <img class="embed-responsive" src="../../assets/products/{{item.img}}" alt="Glutenfree Products" />
    </div>
    <div class="product-body" >
      <h3 class="card-title text-center">{{item.name}}</h3>
      <span class="ingredient-name">Ingredients:</span>
      <span class="ingredients"> {{item.ingredients}}</span>
      <span class="ingredient-name">Info:</span><span class="info"> {{item.info}}</span><br>
      <span class="ingredient-name" *ngIf="item.note">Note:</span><span class="info"> {{item.note}}</span>
      <div class="tostore">
        <a href="https://glutenfreemebakeryonline.com/" target="_blank">
          <button class="btn btn-outline-warning">Buy Online</button>
        </a>
      </div>

    </div>

  </div>
</div>
