#contacts {
  //margin-top: -2px;
  height:100vh;
  width: 100vw;
  overflow: auto;
  background-color: #545663;
  color: lightgoldenrodyellow;
  text-shadow: 0 2px 3px black;
  @media only screen and (min-width: 320px) and (max-width: 600px) {
    overflow: auto;
    margin-bottom: 120px;
    #contacts_header {
      max-height: 200px;
    }
    #img-map {
      display: none;
    }
    #wholesale {
      p {
        padding: 0;
        margin: 0;
      }
    }

  }
  a {
    color: inherit;
    text-decoration: underline;
  }
  a:hover {
    color: #88B04B;
    //text-decoration: underline;
  }
  h3 {
    color: floralwhite;
  }
}

#contacts_header {
  background-image: url('../../assets/contacts_bg.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 270px;
  width: 100%;
  background-position: center center;
  position: relative;
  span {
    position: absolute;
    color: whitesmoke;
    display: block;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
  }
}

#contacts_body {
  //margin-top: 20px;
  background-color: #545663;
  #contacts-body__row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    #contacts-body__address {
      margin-top: 20px;
    }
  }
}


.address {
  //margin-top: 20px;
}

.shell {
  border: 2px solid darkgray;
  border-radius: 10px;
  background-color: #738040;
  //background-color: rgba(0,0,0,.1);
}

#wholesale {
  background-color: #545663;
}

table {
  width: 90%;
  margin: 10px auto;
  table-layout: fixed;
  border-collapse: collapse;
}

tr.schedule {
  td {
    background-image: none;
    border-bottom: 1px solid darkgray;
  }
}

td {
  padding: 0.7em 0 0 0;
  vertical-align: bottom;
  background-image: radial-gradient(white 1px, #738040 0px);
  background-size: 8px 8px;
  background-repeat: repeat-x;
  background-position: left bottom;
  small {
    background-image: radial-gradient(white 1px, #738040 0px);
  }
}

td span {
  background-color: #738040;
}

td:first-child {
  text-align: left;
  width: 60%;
  color: floralwhite;
  //font-weight: 700;
}

td:first-child span {
  padding-right: .25em;
}

td:last-child {
  text-align: right;
  width: 3em;
}

td:last-child span {
  padding-left: .25em;
}
.contact_tobagel {
  display: inline-block;
  background-color: rgba(255,255,255,.2);
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ffeab3;
  text-decoration: none !important;
  img {
    max-height: 100px;
    padding: 0;
    margin: 0;
  }
  p {
    text-decoration: none;
    margin-bottom: 0;
    span {
      text-transform: uppercase;
      text-decoration: none;
      color: whitesmoke;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}
@media only screen and (max-width: 667px) {
  #contacts {
    height: auto;
    .contact_tobagel {
      margin-bottom: 90px;
    }
  }
}

