<div class="container-fluid" id="contacts">
  <div class="row" id="contacts-header__row" >
    <div class="col-xs-12" id="contacts_header">
      <span class="">748 Main St Winchester, MA 01890</span>
    </div>
  </div>
  <div class="container-fluid" id="contacts_body">
    <div class="row" id="contacts-body__row">
      <div class="col-md-4" id="contacts-body__address">
        <p><i class="fa fa-phone-square" aria-hidden="true"></i> 781-570-2060</p>
        <a href="mailto:info@glutenfreemebakery.com"><p><i class="fa fa-envelope" aria-hidden="true"></i> info@glutenfreemebakery.com</p></a>
        <a href="https://www.facebook.com/Gluten-Free-Me-1985412885018774/">
          <p><i class="fa fa-facebook-square" aria-hidden="true"></i> Gluten Free Me</p>
        </a>
        <a href="https://www.google.com/maps/place/748+Main+St,+Winchester,+MA+01890/@42.4575982,-71.1393429,90m/data=!3m1!1e3!4m5!3m4!1s0x89e37434212421b9:0xdc1631a78fce0a4!8m2!3d42.457572!4d-71.139036">
          <p><i class="fa fa-map-marker" aria-hidden="true"></i> Find Directions</p>
        </a>
        <img src="../../assets/map.jpg" alt="" class="img-thumbnail" width="250px" id="img-map">
      </div>
      <div class="col-md-3 shell">
        <h3 class="text-center">Business Hours</h3>
        <table>
          <tr class="schedule">
            <td><span>DAYS</span></td>
            <td><span>FROM:</span></td>
            <td><span>TO:</span></td>
          </tr>
          <tr>
            <td><span>Sunday</span></td>
            <td><span>8:00am</span></td>
            <td><span>3:00pm</span></td>
          </tr>
          <tr>
            <td><span>Monday</span></td>
            <td><span>8:00am</span></td>
            <td><span>5:00pm</span></td>
          </tr>
          <tr>
            <td><span>Tuesday</span></td>
            <td><span>8:00am</span></td>
            <td><span>5:00pm</span></td>
          </tr>
          <tr>
            <td><span>Wednesday</span></td>
            <td><span>8:00am</span></td>
            <td><span>5:00pm</span></td>
          </tr>
          <tr>
            <td><span>Thursday</span></td>
            <td><span>8:00am</span></td>
            <td><span>5:00pm</span></td>
          </tr>
          <tr>
            <td><span>Friday</span></td>
            <td><span>8:00am</span></td>
            <td><span>5:00pm</span></td>
          </tr>
          <tr>
            <td><span>Saturday</span></td>
            <td><span>8:00am</span></td>
            <td><span>3:00pm</span></td>
          </tr>
        </table>
      </div>
      <div class="col-md-4 offset-1" id="wholesale">
        <a href="https://glutenfreemebakeryonline.com/" target="_blank">
          <h4 style="color: #C5C5C5"> <i class="fa fa-shopping-basket" aria-hidden="true"></i> Online Store: 24/7!</h4>
        </a>
        <hr>
        <h4>Questions? - Contact Us</h4>
        <p><i class="fa fa-phone-square" aria-hidden="true"></i> 781-475-9569</p>
        <a href="mailto:info@glutenfreemebakery.com"><p><i class="fa fa-envelope" aria-hidden="true"></i> info@glutenfreemebakery.com</p></a>
        <hr>
        <div>
          <h4 style="color: #C5C5C5"><i class="fa fa-mobile" aria-hidden="true"></i> Our Products on Mobile Apps </h4>
          <a class="nav-link footer_app" href=" https://itunes.apple.com/us/app/gluten-free-me-bakery/id1249019564?mt=8" target="_blank">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <small class=""> Moble App for iPhone</small>
          </a>
          <a class="nav-link footer_app" href="https://play.google.com/store/apps/details?id=cordova.glutenfree.ppk" target="_blank">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <small class=""> Mobile App for Android</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
