<div class="home">
  <section id="title">
    <div class="col-sm-6 offset-sm-3 box">
      <a routerLink="/bakery">
        <div>
          <!--<img src="../../assets/cup.png" alt="">-->
          <h2><span>Gluten Free</span> Bakery & Cafe</h2>
          <p>Good Eat Without Wheat</p>
        </div>
      </a>
    </div>
  </section>
  <section>

    <div class="col-sm-6 offset-sm-3">
      <a routerLink="/cafe">
        <div class="card">
          <h2>Gluten Free, Always Fresh!</h2>
          <p>handrolled bagels, muffins, and more..</p>
        </div>
      </a>
    </div>
  </section>
  <section>
    <div class="col-sm-6 offset-sm-3">
      <a routerLink="/cafe">
        <div class="card">
          <h2>Glutenfree Breads</h2>
          <p>for any taste and need</p>
        </div>
      </a>
    </div>
  </section>
  <section>
    <div class="col-sm-6 offset-sm-3">
      <a routerLink="/bakery">
        <div class="card">
          <h2>Vegan Products</h2>
          <p>...nutriciously delicious</p>
        </div>
      </a>
    </div>
  </section>
  <section>
    <div class="col-sm-6 offset-sm-3">
      <a routerLink="/contact">
        <div class="card">
          <h2>Contact Us and Shop Online</h2>
          <small>
            <p><i class="fa fa-phone-square" aria-hidden="true"></i> 781-570-2060</p>
            <a href="mailto:info@glutenfreemebakery.com"><p><i class="fa fa-envelope" aria-hidden="true"></i> info@glutenfreeme.com</p></a>
            <a href="https://www.facebook.com/Gluten-Free-Me-1985412885018774/">
              <p><i class="fa fa-facebook-square" aria-hidden="true"></i> Gluten Free Me</p>
            </a>
            <a href="https://www.glutenfreemebakeryonline.com" target="_blank"><p><i class="fa fa-shopping-basket" aria-hidden="true"></i> Online Store</p></a>
          </small>
        </div>
      </a>
    </div>
  </section>
</div>
